* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

#board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 400px;
    margin: auto;
}

.square {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    background-color: lightgreen;
    border: 1px solid brown;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
}